* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.special-1 {
  text-transform: uppercase;
  padding: 10px 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 80px auto;
  line-height: 100%;
  font-size: 30px;
  font-weight: 700;
  border: 2px solid black;
  text-align: center;
  position: relative;
  z-index: 3;
}
.special-1::before {
  content: "";
  background-color: #2196f3;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -30px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.special-1::after {
  content: "";
  background-color: #2196f3;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -30px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.special-1:hover {
  border: 2px solid transparent;
  transition: 0.7s;
  padding: 10px 20px;
  color: white;
}
.special-1:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
  border-radius: 0;
  transform: translateY(-50%);
  transition: 0.3s;
}
.special-1:hover::after {
  width: 100%;
  height: 100%;
  right: 0;
  top: 50%;
  border-radius: 0;
  transform: translateY(-50%);
  transition: 0.3s;
}

.header {
  background-color: white;
  height: 70px;
}
.header .container {
  position: fixed;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header .container nav div:nth-child(1) {
  color: #2196f3;
  line-height: 50px;
  font-weight: 700;
  font-size: 24px;
}
.header .container nav div:nth-child(2) ul {
  display: flex;
}
.header .container nav div:nth-child(2) ul li {
  position: relative;
  padding: 0 25px;
}
.header .container nav div:nth-child(2) ul li a {
  font-size: 20px;
  line-height: 50px;
}
.header .container nav div:nth-child(2) ul li::after {
  position: absolute;
  content: "";
  background-color: #2196f3;
  height: 4px;
  width: 0;
  top: -10px;
  left: 0;
}
.header .container nav div:nth-child(2) ul li:hover::after {
  transition: 0.3s;
  width: 100% !important;
}

.landing {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #ececec;
  z-index: -1;
}
.landing::before {
  content: "";
  width: 200%;
  position: absolute;
  height: 50%;
  bottom: -40%;
  left: -50%;
  z-index: 1;
  transform: rotate(-10deg);
  background-color: white;
}
.landing .container {
  z-index: 2;
  position: relative;
  top: 30%;
  text-align: center;
}
.landing .container h1 {
  font-size: 40px;
}
.landing .container p {
  font-size: 20px;
  color: #666;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}
.articles .container .item {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}
.articles .container .item img {
  width: 100%;
}
.articles .container .item h3, .articles .container .item p {
  margin-left: 15px;
}
.articles .container .item p {
  color: #666;
}
.articles .container .item div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #e6e6e7;
}
.articles .container .item div h4, .articles .container .item div i {
  color: #2196f3;
}
.articles .container .item div i {
  font-size: 17px;
}

.gallery {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
}
.gallery .container {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.gallery .container .item {
  display: flex;
  padding: 15px;
  background-color: white;
}
.gallery .container .item img {
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}
.features .container {
  display: grid;
  padding-top: 80px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  text-align: center;
}
.features .container .item {
  border: 1px solid #666;
}
.features .container .item .img {
  position: relative;
  display: flex;
  overflow: hidden;
}
.features .container .item .img img {
  width: 100%;
}
.features .container .item .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .container .item .img::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: 0.3s;
}
.features .container .item:hover .img::before {
  border-width: 0px 500px 170px 0px;
  border-color: transparent transparent white transparent;
}
.features .container .item h1 {
  font-size: 43px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.features .container .item h1::after {
  content: "";
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 10%;
  height: 6px;
}
.features .container .item p {
  color: #666;
  margin: 40px auto;
  font-size: 24px;
  text-align: center;
}
.features .container .item .btn {
  font-size: 25px;
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
  border: 3px solid;
  padding: 10px 28px;
  border-radius: 5px;
  margin: 50px auto 30px;
}
.features .container .item:nth-child(1) .img::after {
  background-color: rgba(244, 64, 54, 0.6);
}
.features .container .item:nth-child(1) h1::after {
  background-color: rgb(244, 64, 54);
}
.features .container .item:nth-child(1) .btn {
  color: rgb(244, 64, 54);
  border-color: rgb(244, 64, 54);
}
.features .container .item:nth-child(2) .img::after {
  background-color: rgba(0, 150, 136, 0.6);
}
.features .container .item:nth-child(2) h1::after {
  background-color: rgb(0, 150, 136);
}
.features .container .item:nth-child(2) .btn {
  color: rgb(0, 150, 136);
  border-color: rgb(0, 150, 136);
}
.features .container .item:nth-child(3) .img::after {
  background-color: rgba(3, 169, 244, 0.6);
}
.features .container .item:nth-child(3) h1::after {
  background-color: rgb(3, 169, 244);
}
.features .container .item:nth-child(3) .btn {
  color: rgb(3, 169, 244);
  border-color: rgb(3, 169, 244);
}

.testi {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  background-color: #ececec;
}
.testi .container {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testi .container .item {
  background-color: white;
  position: relative;
  padding: 10px;
}
.testi .container .item .img {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  border: 13px solid #ececec;
  overflow: hidden;
  right: -15px;
  top: 0;
  transform: translateY(-50%);
}
.testi .container .item .img img {
  width: 100%;
}
.testi .container .item h1 {
  font-size: 20px;
}
.testi .container .item h2 {
  font-size: 20px;
  font-weight: normal;
  color: #666;
}
.testi .container .item .stars i.fa-solid {
  color: goldenrod;
}

.team {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .container .item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  border-radius: 8px;
}
.team .container .item .up {
  display: flex;
  align-items: center;
  position: relative;
}
.team .container .item .up .icons {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  padding: 0 20px;
}
.team .container .item .up .icons i {
  font-size: 20px;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
  color: #666;
}
.team .container .item .up .img {
  position: relative;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
}
.team .container .item .up .img img {
  width: 100%;
}
.team .container .item .up .img::before {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  width: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.team .container .item .info {
  padding: 20px;
  padding-left: 80px;
}
.team .container .item .info h1 {
  color: #2196f3;
  font-size: 27px;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 10px;
}
.team .container .item .info p {
  color: black;
  font-size: 18px;
  font-weight: normal;
}
.team .container .item::before {
  content: "";
  position: absolute;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #ececec;
  top: 0;
  right: 0;
  z-index: -1;
}
.team .container .item:hover .up .img::before {
  width: 100%;
  transition: 0.6s;
}

.services {
  padding: 80px 0;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .item .img {
  background-color: white;
  text-align: center;
  padding: 50px 0;
}
.services .container .item .img i {
  font-size: 80px;
  color: #d5d5d5;
}
.services .container .item .img p {
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
}
.services .container .item .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background-color: #f9f9f9;
}
.services .container .item .info .num {
  background-color: #2196f3;
  line-height: 1;
  padding: 10px;
  padding-right: 50px;
  color: white;
  font-size: 31px;
  font-weight: 700;
  position: relative;
}
.services .container .item .info .num::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -20px;
  background-color: #b6b6b6;
  height: 200%;
  width: 40px;
  transform: rotate(30deg);
}
.services .container .item .info p {
  color: #2196f3;
  line-height: 1;
  padding-right: 15px;
}

.skills {
  padding: 80px 0;
}
.skills .container {
  display: flex;
}
.skills .container .img {
  display: flex;
  width: -moz-min-content;
  width: min-content;
}
.skills .container .info {
  flex: 1;
}
.skills .container .info .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.skills .container .info .item p:nth-child(1) {
  font-weight: 700;
  font-size: 19px;
}
.skills .container .info .item p:nth-child(2) {
  color: #2196f3;
  font-weight: 700;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1;
  padding: 5px;
  border: 1px solid #666;
}
.skills .container .info .item .per {
  margin-top: 10px;
  width: 100%;
  background-color: #ececec;
  height: 30px;
  position: relative;
}
.skills .container .info .item .per::after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  left: 0;
  width: 80%;
  height: 100%;
}

.works {
  padding: 80px 0;
  background-color: #ececec;
}
.works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works .container .info {
  width: 54%;
  display: flex;
  flex-direction: column;
}
.works .container .info .item {
  display: flex;
  border-radius: 8px;
  border: 3px solid white;
  padding: 30px;
  align-items: center;
  background-color: #f6f5f5;
}
.works .container .info .item:not(:first-child) {
  margin-top: 20px;
}
.works .container .info .item .img {
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 30px;
  display: flex;
}
.works .container .info .item .img img {
  width: 65px;
}
.works .container .info .item .txt h1 {
  line-height: 1;
  font-size: 24px;
  margin-bottom: 10px;
}
.works .container .info .item .txt p {
  color: #666;
  font-size: 20px;
  line-height: 1.7;
}

.events {
  padding: 80px 0;
}
.events .container {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  flex-wrap: wrap;
}
.events .container .img {
  width: 40%;
}
.events .container .img img {
  width: 100%;
}
.events .container .info {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.events .container .info .dates {
  display: flex;
  justify-content: center;
}
.events .container .info .dates .date {
  padding: 10px;
  border: 1px solid #c2c2c2;
  overflow: hidden;
  margin: 5px;
  border-radius: 8px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.events .container .info .dates .date span {
  line-height: 1;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-size: 38px;
  color: #2196f3;
  font-weight: 700;
}
.events .container .info .dates .date span:nth-child(2) {
  color: #666;
  font-weight: normal;
  font-size: 16px;
  margin-top: 30px;
  position: relative;
}
.events .container .info .dates .date span:nth-child(2)::before {
  content: "";
  position: absolute;
  width: calc(100% + 100px);
  height: 1px;
  background-color: #c2c2c2;
  left: -50px;
  top: -15px;
}
.events .container .info .txt {
  margin-top: 20px;
  text-align: center;
}
.events .container .info .txt h1 {
  margin-bottom: 10px;
}
.events .container .info .txt p {
  font-size: 20px;
  color: #666;
}
.events .container .form {
  margin: 60px auto 0;
  background-color: #ececec;
  border-radius: 60px;
}
.events .container .form form {
  padding: 30px;
}
.events .container .form form input[type=email] {
  border: none;
  padding: 20px;
  font-size: 20px;
  line-height: 1;
  width: 400px;
  border-radius: 30px;
}
.events .container .form form button {
  border: none;
  padding: 20px;
  font-size: 20px;
  line-height: 1;
  border-radius: 30px;
  background-color: #2196f3;
  color: white;
  margin-left: 20px;
}

.pricing {
  padding: 80px 0;
  background-color: #ececec;
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  position: relative;
}
.pricing .container .item {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 0 10px;
}
.pricing .container .item .up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.pricing .container .item .up img {
  width: 80px;
  color: #2196f3;
  margin: 20px 0;
}
.pricing .container .item .up span:nth-child(1) {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.pricing .container .item .up span:nth-child(3) {
  font-size: 60px;
  font-weight: 700;
  color: #2196f3;
  line-height: 1;
  margin-bottom: 10px;
}
.pricing .container .item .up span:nth-child(4) {
  font-size: 18px;
  color: #666;
  line-height: 1;
}
.pricing .container .item .mid .mid-item {
  padding: 17px;
  border-top: 1px solid #ececec;
}
.pricing .container .item .mid .mid-item i {
  font-weight: 700;
  color: #2196f3;
  font-size: 20px;
  margin-right: 10px;
}
.pricing .container .item .btn {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
  padding: 20px;
  border: 1px solid #2196f3;
  border-radius: 8px;
  color: #2196f3;
  font-weight: 700;
  font-size: 20px;
  margin: 30px auto;
  cursor: pointer;
}
.pricing .container .item:nth-child(2) {
  position: relative;
  bottom: 30px;
}

.videos {
  padding: 80px 0;
}
.videos .container {
  display: flex;
  justify-content: center;
}
.videos .container .info {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #cacaca;
  flex: 1;
}
.videos .container .info > span {
  display: block;
  width: 100%;
  background-color: #ececec;
  padding: 10px;
  font-weight: bold;
}
.videos .container .info .box .item {
  padding: 15px;
  border-bottom: 1px solid #cacaca;
}
.videos .container .info .box .item span:nth-child(2) {
  display: block;
}
.videos .container .video {
  background-color: #ececec;
  padding: 10px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .container .video .img {
  overflow: hidden;
  height: calc(100% - 68px);
}
.videos .container .video .img img {
  height: 100%;
}
.videos .container .video .name {
  background-color: white;
  line-height: 1;
  font-size: 18px;
  padding: 20px;
}

.stats {
  background-color: #ececec;
  padding: 80px 0;
}
.stats .container {
  display: flex;
  flex-direction: column;
}
.stats .container .title {
  font-size: 40px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 50px;
}
.stats .container .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.stats .container .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  padding: 30px 0;
  background-color: white;
  line-height: 1.5;
}
.stats .container .items .item i {
  font-size: 30px;
}
.stats .container .items .item p {
  font-size: 20px;
  font-style: italic;
  color: #2196f3;
}

.discount {
  width: 100%;
  height: 100vh;
  display: flex;
}
.discount .img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  color: white;
}
.discount .img h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
}
.discount .img p {
  width: 70%;
  letter-spacing: -0.5px;
  text-align: center;
  font-size: 20px;
}
.discount .img img {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}
.discount form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.discount form input, .discount form textarea, .discount form button {
  background-color: #ececec;
  border: none;
  margin: 20px 0 0;
  padding: 20px;
  border-bottom: 1px solid #c2c2c2;
}
.discount form h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
}
.discount form input {
  width: 100%;
}
.discount form textarea {
  width: 100%;
  height: 200px;
  resize: none;
}
.discount form button {
  width: 100%;
  background-color: #2196f3;
  color: white;
  font-size: 22px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: #191919;
  padding: 70px 0 30px;
}
.footer .container {
  display: grid;
  margin-bottom: 70px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .container .socials {
  color: white;
}
.footer .container .socials h1 {
  font-size: 50px;
  line-height: 1;
}
.footer .container .socials .icons {
  display: flex;
  margin: 20px 0;
}
.footer .container .socials .icons > div {
  padding: 15px;
  background-color: #242424;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container .socials .icons > div i {
  font-size: 23px;
}
.footer .container .socials .icons > div:not(:last-child) {
  margin-right: 10px;
}
.footer .container .links .item {
  display: flex;
  line-height: 1;
  padding: 20px;
}
.footer .container .links .item i {
  color: #2196f3;
  letter-spacing: -6px;
}
.footer .container .links .item p {
  color: #bbbbbb;
  margin-left: 20px;
}
.footer .container .links .item:not(:last-child) {
  border-bottom: 1px solid #666;
}
.footer .line {
  width: 100%;
  color: white;
  font-size: 17px;
  font-weight: normal;
  border-top: 1px solid #666;
}
.footer .line p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0;
}/*# sourceMappingURL=css.css.map */