* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 100%;
}
.container .parent {
  width: 100%;
  margin: auto;
}
.container .parent .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.container .parent .text h1 {
  font-size: 100px;
  color: #f6f6f6;
}
.container .parent .text p {
  margin-top: -95px;
}
.container .nav {
  height: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .nav img {
  width: 60px;
}
.container .nav .parent1-links {
  position: relative;
}
.container .nav .parent1-links .menu {
  position: absolute;
  top: 20px;
  width: 200px;
  right: 0;
  background-color: #2c4755;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2px;
  padding: 20px;
}
.container .nav .parent1-links .menu .menu-in {
  color: white;
  display: flex;
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.container .nav .parent1-links .menu .menu-in div:not(:first-child) {
  margin-top: 21px;
}
.container .nav .parent1-links .menu .menu-in div span {
  color: #586f7e;
}
.container .nav .parent1-links .menu .menu-in div ul {
  margin-top: 8px;
  color: #e3e6e8;
}
.container .nav .parent1-links .menu .menu-in li {
  list-style: none;
}
.container .nav .parent1-links .menu > p {
  margin-top: 50px;
}
.container .nav .parent1-links:hover .menu {
  display: flex;
}
.container .nav .parent1-links:hover .menu .menu-in div:hover ul {
  padding-left: 15px;
  transition: 0.5s;
}
.container .home {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  flex-direction: column;
}
.container .home h1 {
  color: #10cab7;
}
.container .home p {
  color: #2c4755;
}
.container .about {
  width: 90%;
  display: grid;
  grid-gap: 20px;
  padding: 30px 0;
}
.container .about .feat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .about .feat i {
  font-size: 50px;
  color: #10cab7;
}
.container .about .feat i, .container .about .feat h2, .container .about .feat p {
  padding: 10px;
}
.container .services {
  margin-bottom: 200px;
  width: 70%;
}
.container .services .servs {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}
.container .services .servs .col {
  width: 100%;
}
.container .services .servs .col .serv {
  display: flex;
  height: 250px;
}
.container .services .servs .col .serv i {
  flex-basis: 50px;
  font-size: 30px;
  margin-right: 20px;
  color: #10cab7;
  height: -moz-fit-content;
  height: fit-content;
}
.container .services .servs .col .serv div {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container .services .servs .col .serv div h1 {
  margin: 0;
  margin-bottom: 15px;
}
.container .services .servs .col .serv div p {
  line-height: 1.5em;
}
.container .services .servs .col3 {
  position: relative;
}
.container .services .servs .col3 img {
  height: 90%;
  max-width: 100%;
}
.container .services .servs .col3::before {
  content: "";
  position: absolute;
  width: 140px;
  height: calc(90% + 90px);
  background-color: #2c4755;
  top: -45px;
  right: -45px;
  z-index: -1;
}
.container .portfolio {
  background-color: #FAFAFA;
  padding-bottom: 150px;
}
.container .portfolio .text h1 {
  color: #EBECED;
}
.container .portfolio .p-sec {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .portfolio .p-sec .proj {
  display: flex;
  padding: 10px;
  width: 300px;
  flex-direction: column;
}
.container .portfolio .p-sec .proj img {
  height: 400px;
}
.container .portfolio .p-sec .proj div {
  padding: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.container .info {
  width: 100%;
}
.container .info .info-child {
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .info .info-child img {
  width: 400px;
  height: 400px;
  max-height: 100%;
  z-index: 1;
}
.container .info .info-child::after {
  content: "";
  position: absolute;
  transform: translate(350px, -40px);
  width: 100px;
  height: 400px;
  background-color: #10cab7;
}
.container .info .info-child .info-text {
  max-width: 40%;
}
.container .contact {
  margin-top: 150px;
  background-color: #FAFAFA;
}
.container .contact .text h1 {
  color: #EBECED;
}
.container .contact .contact-text {
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.container .contact .contact-text h1 {
  color: #2d4758;
  margin: 0;
  margin-bottom: 10px;
}
.container .contact .contact-text h2 {
  padding-left: 10px;
  color: #0fc7b4;
}
.container .contact .contact-text p {
  padding-left: 20px;
}
.container .footer {
  height: 50px;
  background-color: #2c4856;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .footer p {
  text-align: center;
}

@media (max-width: 767px) {
  .servs .col .serv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .parent3 {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .parent4 {
    width: 100%;
  }
  .parent4 .servs {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .info .info-child {
    max-width: 80% !important;
    flex-direction: column;
  }
  .info .info-child .info-text {
    margin-top: 30px;
    max-width: 100% !important;
  }
}
@media (min-width: 768px) {
  .parent3 {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .parent4 {
    width: 100%;
  }
  .parent4 .servs {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (min-width: 992px) {
  .parent3 {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .parent4 {
    width: 100%;
  }
  .parent4 .servs {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
@media (min-width: 1200px) {
  .parent3 {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
  }
  .parent4 {
    max-width: 1200px;
  }
  .parent4 .servs {
    grid-template-columns: repeat(3, minmax(350px, 1fr));
  }
  .parent .about {
    width: 1200px;
  }
}/*# sourceMappingURL=main.css.map */